[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sail-player-dev
Exec=harbour-sail-player-dev

Name=Sail Player Dev
Name[de]=Sail Player Dev

