[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sail-player
Exec=harbour-sail-player

Name=Sail Player
Name[de]=Sail Player

